# Example .gitignore file for your config dir.
# A * ensures that everything will be ignored.
*

# You can whitelist files/folders with !, these will not be ignored.

# Do not ignore the following folders
!config_files

# Do not ignore the following files
!*.yaml
!*.md
!.gitignore
!.travis.yml
!GoogleAssistant-key_dummy.json
# 2020-05-02 - Editing on PROD, Committing directly to Master therefore these files can be included from now on
!harmony_*.conf
!.HA_VERSION

# Ignore the following folders.
.cloud
.google.token
.storage
.vscode
deps
letsencrypt
node-red
tts

# Ignore the the following files with sensetive data
ip_bans.yaml
secrets.yaml
known_devices.yaml
GoogleAssistant-key.json

# Ignore the following files as these get updated by Home Assistant
home-assistant.log
