# Example .gitignore file for your config dir.
# A * ensures that everything will be ignored.
*

# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!*.md
!.gitignore
!.travis.yml

# Ignore the following folders.
.cloud
.google.token
.storage
.vscode
deps
letsencrypt
node-red
tts

# Ensure these YAML files with sensetive data are ignored.
ip_bans.yaml
secrets.yaml
known_devices.yaml
GoogleAssistant-key.json

# Ignore the following files as these get updated by Home Assistant
harmony_harmony_hub.conf
.HA_VERSION
home-assistant.log